{
  "presets": [
    "react",
    "esnext"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "development": {
      // "plugins": ["babel-gettext-plugin"]
    }
  }
}
